body {
    text-align: center;
}
h2 {
text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
header {
    background-color: #f7f89c;
    color: olive;
    padding: 1em;
    margin: 0;
    
}
span {
    font-weight: bold;
}
.separator {
    margin: 0%;
    color: orange;
    border: 0;
}
div > p {
    color: gray;
}
ul {
text-align: center;
}