body {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10%;
}
ul {
  text-align: left;
}
ol {
  text-align: left;
}
h2 {
text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
header {
    background-color: #fdfbf1;
    color: #004b4b;
    padding: 1em;
    margin: 0;
    border-style: solid none none; 
    border-color: #ffd56c;
}
span {
    font-weight: bold;
}
.image{
    color: gray;
}
.for-something {
 font-weight: bold;
 text-align: left;
}
p.feature {
    color: #b54610; 
    margin:0;
    padding-left: 1em;
    text-align: left;
    font-weight: bold;
}
div.feature {
  border-left: #ffeab5;
  border-style: none none none solid;
}
a {
    color: #0f7777;
}
